body {
    background-color: #2F6895;
    font-family: 'Karantina';
}

.cabecalho {
    background-color: #002A51;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
    font-size: 80px;
}

.icone {
    margin-right: 0.4em;
}

.itens {
    margin-right: 2em;
    font-size: 32px;
}

.lista-itens {
    display: flex;
    flex-direction: row;
}

.item {
    background-color: #2F6895;
    margin-left: 1em;
    padding: 0.4em 1em;
    text-decoration: none;
    color: white;
}

.principal{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;

    
   
}

h2 {
    color: white;
    padding: 0.5em;
    font-size: 48px;
    text-align: center;
    
}

h3 {
    color: white;
    padding: 0.5em;
    font-size: 40px;
    text-align: center;
    
}



.botao{
    background-color: #2690DE;
    color: white;
    padding: 10px 20px;
    font-size: 32px;
    padding: 1em;
    margin-top: 10px;
    font-family: 'Karantina';
    border: none;
   
    
    
}

.lista_principal{
    color: #002A51;
    font-size: 32px;
    list-style-type: circle;
    list-style-position: inside;
    text-align: justify;
    padding-left: 24%;
    margin: 1em 0;
   
}

